<div class="row">
  <div class="col-lg-12">
    <nb-card>
        <nb-card-header class="pages-heading">
            <div class="action-groups-header" style="float: left; clear: both; line-height:30px;">
              Select Modal - Single
            </div>
            <nb-actions size="medium" style="float: right; font-size: 10px;">
              <nb-action icon="fas fa-backspace" (click)="sgs.back()" tooltip="Back" placement="bottom"></nb-action>
            </nb-actions>
        </nb-card-header>
      </nb-card>
    <nb-card>
        <nb-card-body>
          <div class="row pt-3">
            <div class="col-md-4">
              <form #f="ngForm" novalidate>
          
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="_name">Name</label>
                    <div class="input-group mb-2">
                      <input disabled type="text" class="form-control" required readonly name="name" [(ngModel)]="Result.name" placeholder="...">
                      <div class="input-group-append">
                        <button class="btn btn-primary" (click)="selectName()">Select</button>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="_name">Smart Phone Brand</label>
                    <div class="input-group mb-2">
                      <input disabled type="text" class="form-control" required readonly name="_displaysmartphonebrand" [(ngModel)]="Result._displaysmartphonebrand" placeholder="...">
                      <div class="input-group-append">
                        <button class="btn btn-primary" (click)="SelectSmartPhoneBrand()">Select</button>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="_name">City</label>
                    <div class="input-group mb-2">
                      <input disabled type="text" class="form-control" required readonly name="_displaycity" [(ngModel)]="Result._displaycity" placeholder="...">
                      <div class="input-group-append">
                        <button class="btn btn-primary" (click)="selectCity()">Select</button>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
            
            <div class="col-md-8">
              <h2>Result</h2>
              <div>Name: {{ (Result.name | json) }}</div>
              <div>Smart Phone Brand: {{ (Result.smartphonebrand | json) }}</div>
              <div>City: {{ (Result.city | json) }} </div>
            </div>
          </div>
        </nb-card-body>
    </nb-card>
  </div>
</div>