.cache-items{
    .fas{
        color:#ffffff;
    }
}

nb-tab{
    width:300px;
}

.all-notifications{
    padding:16px 20px;
    color:#333;
    background:#f1f1f1;
    cursor: pointer;
    text-align:center;
    font-size:14px;
    &:hover{
        background:#f5f5f5;
    }
}

/deep/ .notification-tab{
    span{
        font-size:12px !important;
    }
    ul li{
        width:48%;
        a{
            color:#222 !important;
            display: inline-block !important;
            text-align:center !important;
            &:before{ display:none !important; }
            span{ font-size: 14px!important }
        }
    }
    button{
        border: none;
        color: #777;
        font-size: 9px;
        padding: 4px 5px;
        border-radius: 50%;
        margin-right: 5px;
        cursor: pointer;
        outline: none;
        float:right;
        &.resend:hover{ color:#fff; background:#5dcfe3; }
        &.cancel:hover{ color:#fff; background:#ff6b83; }
    }
    nb-tab{ 
        max-height:300px;
    }
}
tt-header-notification{
    &::-moz-selection{
        background-color:Transparent;
        color:#000;
    }
    
    &::selection {
        background-color:Transparent;
        color:#000;
    }
    user-select: none;
    -moz-user-select: none;
}

.logs-ui-container{
    span{
        display:inline-block;
        font-size:13px;
        &.title{
            font-size:14px;
        }
        &.fail{
            font-size: 10px !important;
            background: #ff6b83;
            color: #fff;
            padding: 3px 4px 3px 7px;
            letter-spacing: 1px;
        }
        &.unread{
            font-size: 10px !important;
            background: #73a1ff;
            color: #fff;
            padding: 3px 4px 3px 7px;
            letter-spacing: 1px;
        }
        &.read{
            font-size: 10px !important;
            background: #999;
            color: #fff;
            padding: 3px 4px 3px 7px;
            letter-spacing: 1px;
        }
        &.describe{
            margin-left:6px;
            margin-right:6px;
            display:inline;
            line-height: 24px;
        }
        &.no-logs{
            padding:20px;
        }
    }
    &.notif .logs{
        cursor:pointer;
        .by, .timeago{
            font-size: 9px !important;
            color: #999;
            margin-top:10px;
        }
        .by{
            float:left;
            i{
                margin-right:5px;
            }
        }
        .timeago{
            float:right;
            i{
                margin-right:5px;
            }
        }
    }
    .logs{
        padding: 16px 20px 18px 20px;
        position:relative;
        border-bottom: 1px solid #f1f1f1;
        &:hover{ background:#f1f1f1; }
        
        &:last-child{ border:none }
        
        .date{
            font-size: 9px !important;
            text-align: left;
            // float: right;
            // position: absolute;
            color: #999;
            margin-top: 10px;
        }
    }
}
