<nb-tabset class="notification-tab" (changeTab)="onChangeTab($event)">
    <nb-tab tabTitle="Notification">
        <!-- <div class="logs-ui-container notif" [nbSpinner]="notifLoader" nbSpinnerStatus="success"> -->
        <div class="logs-ui-container notif">
            <div class="logs" *ngFor="let entry of notifications" (click)="goto(entry?.url, entry?.id, entry?.readby, entry?.role_module)">
                <span [attr.class]="entry?.readby | isRead:user.id">{{ (entry?.readby | isRead:user.id) | uppercase }}</span>
                <span class="describe">{{ entry?.message }}</span>
                <div>
                    <span class="timeago"><i class="far fa-clock"></i>{{ entry?.date_added | amTimeAgo }}</span>
                    <span class="by"><i class="far fa-user"></i>{{ entry?.added_by }}</span>
                    <div class="clear"></div>
                </div>
            </div>
            <span *ngIf="notifications.length === 0" class="no-logs">No notifcation found..</span>
        </div>
    </nb-tab>
    <nb-tab tabTitle="Logs">
        <div class="logs-ui-container">
            <div class="logs" *ngFor="let entry of cache">
                <span class="fail">FAILED</span>
                <span class="describe">{{ entry?.describe }}</span>
                <button (click)="sgs.removeCachedData(entry.cache_id)" class="cancel">
                    <i class="fas fa-ban"></i>
                </button>
                <button (click)="sgs.removeCachedData(entry.cache_id)" class="resend">
                    <i class="fas fa-sync"></i>
                </button>
                <div>
                    <span class="date">{{ entry.cache_date }}</span>
                </div>
                <div class="clear"></div>
            </div>
            <span *ngIf="cache.length === 0" class="no-logs">No logs found..</span>
        </div>
    </nb-tab>
</nb-tabset>
<div class="all-notifications" routerLink="/sales/notification/all-notifications" *ngIf="tabTitle === 'Notification'">
    All Notifications
</div>