<div class="row">
    <div class="col-sm-12">
      <nb-card>
          <nb-card-header class="pages-heading">
              <div class="action-groups-header" style="float: left; clear: both; line-height:30px;">
                Image Gallery
              </div>
              <nb-actions size="medium" style="float: right; font-size: 10px;">
                <nb-action icon="fa fa-plus-square" tooltip="New Sales Order" placement="bottom" [routerLink]="['/admin/sales/sales-order/add-sales-order']"></nb-action>
                <nb-action>
                  <div class="dropdown ghost-dropdown" ngbDropdown>
                    <button class="btn btn-primary" type="button" ngbDropdownToggle>
                      Export As &nbsp;&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item">PDF</li>
                      <li class="dropdown-item">Microsoft Excel</li>
                    </ul>
                  </div>
                </nb-action>
                <nb-action icon="fa fa-print" tooltip="Print" placement="bottom"></nb-action>
                <nb-action icon="fas fa-backspace" (click)="sgs.back()" tooltip="Back" placement="bottom"></nb-action>
              </nb-actions>
          </nb-card-header>
        </nb-card>
  
        <!-- <print-order-template *ngIf="sgs.printable.ready" [id]="sgs.printable.id" [title]="sgs.printable.title" [hidden]="true"></print-order-template> -->
  
        <nb-card>
          <nb-card-body>
             
          <div class="row pt-3">
            <div class="col-md-4">
              <form #f="ngForm" novalidate>
                <div class="form-group">
                  <div class="col-md-12">
                    <label for="_name">Name</label>
                    <div class="input-group mb-2">
                      <input disabled type="text" class="form-control" required readonly name="name" [(ngModel)]="Result.name" placeholder="...">
                      <div class="input-group-append">
                        <button class="btn btn-primary" (click)="selectImage()">Select</button>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-success" (click)="Preview(Result.name)" *ngIf="Result.name">Preview</button>
                      </div>
                    </div>
                  </div>
                </div>
              
              </form>
            </div>
          </div>

          </nb-card-body>
        </nb-card>
      </div>
    </div>  
  
  
  
  