<div class="modal-header">
    <h2 class="card-title">Create Task</h2>
      <button class="close" aria-label="Close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
          </button>
  </div>
  <form #mobile="ngForm" novalidate>
      <div class="modal-body">
        <div class="form-group">
            <label for="task">Task Name<span class="text-muted red">*</span></label>
            <input   type="text" [(ngModel)]="name" name="name" class="form-control"
                placeholder="Enter Task Name..">
        </div>

       
   
      </div>
      <div class="modal-footer">
          <input [disabled]=" !name"  type="submit" (click)="tasks()" class="btn btn-primary" value="Create">
          <button class="btn btn-sm btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </form>
  