<div class="row">
    <div class="col-sm-12">
      <nb-card>
          <nb-card-header class="pages-heading">
              <div class="action-groups-header" style="float: left; clear: both; line-height:30px;">
                SGS CRUD
              </div>
              <nb-actions size="medium" style="float: right; font-size: 10px;">
                <nb-action icon="fa fa-plus-square" tooltip="New Sales Order" placement="bottom" [routerLink]="['/admin/sales/sales-order/add-sales-order']"></nb-action>
                <nb-action>
                  <div class="dropdown ghost-dropdown" ngbDropdown>
                    <button class="btn btn-primary" type="button" ngbDropdownToggle>
                      Export As &nbsp;&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item">PDF</li>
                      <li class="dropdown-item">Microsoft Excel</li>
                    </ul>
                  </div>
                </nb-action>
                <nb-action icon="fa fa-print" tooltip="Print" placement="bottom"></nb-action>
                <nb-action icon="fas fa-backspace" (click)="sgs.back()" tooltip="Back" placement="bottom"></nb-action>
              </nb-actions>
          </nb-card-header>
        </nb-card>
  
        <print-order-template *ngIf="sgs.printable.ready" [id]="sgs.printable.id" [title]="sgs.printable.title" [hidden]="true"></print-order-template>
  
        <nb-card [nbSpinner]="sgs.loading" nbSpinnerStatus="success">
          <nb-card-body>
              <div class="row">  
                <div class="col-sm-3">  
                  <h4 class="mb-5">Create</h4>


                  <!-- <input type="text" class="form-control" [(ngModel)]="Animal.name">
                  <button  (click)="Animal.name && addanimal()" [disabled]="!Animal.name" class="btn btn-primary">create animal</button><br /> -->

                  <form #f="ngForm" novalidate>
                    <div class="form-group">
                      <div class="row m-0 pl-0">

                        <div class="col-md-12">
                          <label for="fname">First Name<span class="text-muted red">*</span></label>
                          <input #fname="ngModel" required name="fname" type="text" class="form-control" [(ngModel)]="Person.fname" maxlength="50" placeholder="Enter first name">
                          <small *ngIf="!Person.fname?.length && fname.touched" class="form-text text-muted red float-left required">*required</small>
                          <small class="form-text text-muted float-right">{{ Person.fname?.length }}/50</small>
                        </div>
                        
                        <div class="col-md-12">
                          <label for="mname">Middle Name<span class="text-muted red">*</span></label>
                          <input #mname="ngModel" required name="mname" type="text" class="form-control" [(ngModel)]="Person.mname" maxlength="50" placeholder="Enter middle name">
                          <small *ngIf="!Person.mname?.length && mname.touched" class="form-text text-muted red float-left required">*required</small>
                          <small class="form-text text-muted float-right">{{ Person.mname?.length }}/50</small>
                        </div>
                        
                        <div class="col-md-12">
                          <label for="lname">Last Name<span class="text-muted red">*</span></label>
                          <input #lname="ngModel" required name="lname" type="text" class="form-control" [(ngModel)]="Person.lname" maxlength="50" placeholder="Enter last name">
                          <small *ngIf="!Person.lname?.length && lname.touched" class="form-text text-muted red float-left required">*required</small>
                          <small class="form-text text-muted float-right">{{ Person.lname?.length }}/50</small>
                        </div>

                        <div class="col-md-12">
                          <label for="age">Age <span class="text-muted red">*</span></label>
                          <input required #age="ngModel" name="age" type="number" class="form-control remove-spinner" [(ngModel)]="Person.age" maxlength="3" placeholder="Enter age" (keyup)="NumberLimit($event)" (blur)="NumberLimit($event)" (click)="NumberLimit($event)">
                          <small *ngIf="!Person.age?.toString().length && age.touched" class="form-text text-muted red float-left required">*required</small>
                          <small class="form-text text-muted float-right">{{ Person.age?.toString().length || 0 }}/3</small>
                          <div class="clearfix"></div>
                        </div>
                                
                        <div class="col-md-12">
                          <label for="gender">Gender</label>
                          <div class="input-group mb-2">
                            <input disabled type="text" class="form-control" required readonly name="gender" [(ngModel)]="Person.gender" placeholder="...">
                            <div class="input-group-append">
                              <button class="btn btn-primary" (click)="selectGender()">Select</button>
                            </div>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </form>

                  <div class="form-group">
                    <div class="col-md-12">
                      <h6 class="form-label-divider top-space">&nbsp;</h6>
                    </div>
                    <button style="min-width:120px" class="btn btn-success float-right mr-3 mb-3" [nbSpinner]="sgs.submitting" nbSpinnerStatus="success"
                      (click)="sgs.submitting = true; !f.valid || Submit(f)"
                      [disabled]="!f.valid || sgs.submitting">
                      Create Person</button>
                    <div class="clearfix"></div>
                  </div>

                </div>
                <div class="col-sm-3">  
                  <h4>Read</h4>
                  ({{ data.length }}) People found.
                  <div class="col-md-12 mt-3">
                    <label for="selectperson">Select Person</label>
                    <div class="input-group mb-2">
                      <input disabled type="text" class="form-control" required readonly name="selectperson" [(ngModel)]="selectedPerson.selected" placeholder="...">
                      <div class="input-group-append">
                        <button class="btn btn-primary" (click)="selectPerson()">Select</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">  
                  <h4>Update</h4>
                  
                  <form #ff="ngForm" novalidate>
                    <div class="form-group">
                      <div class="row m-0 pl-0">

                        <div class="col-md-12">
                          <label for="updateFname">First Name<span class="text-muted red">*</span></label>
                          <input #updateFname="ngModel" required name="updateFname" type="text" class="form-control" [(ngModel)]="selectedPerson.fname" maxlength="50" placeholder="Enter first name">
                          <small *ngIf="!selectedPerson.fname?.length && updateFname.touched" class="form-text text-muted red float-left required">*required</small>
                          <small class="form-text text-muted float-right">{{ selectedPerson.fname?.length }}/50</small>
                        </div>
                        
                        <div class="col-md-12">
                          <label for="updateMname">Middle Name<span class="text-muted red">*</span></label>
                          <input #updateMname="ngModel" required name="updateMname" type="text" class="form-control" [(ngModel)]="selectedPerson.mname" maxlength="50" placeholder="Enter middle name">
                          <small *ngIf="!selectedPerson.mname?.length && updateMname.touched" class="form-text text-muted red float-left required">*required</small>
                          <small class="form-text text-muted float-right">{{ selectedPerson.mname?.length }}/50</small>
                        </div>
                        
                        <div class="col-md-12">
                          <label for="updateLname">Last Name<span class="text-muted red">*</span></label>
                          <input #updateLname="ngModel" required name="updateLname" type="text" class="form-control" [(ngModel)]="selectedPerson.lname" maxlength="50" placeholder="Enter last name">
                          <small *ngIf="!selectedPerson.lname?.length && updateLname.touched" class="form-text text-muted red float-left required">*required</small>
                          <small class="form-text text-muted float-right">{{ selectedPerson.lname?.length }}/50</small>
                        </div>

                        <div class="col-md-12">
                          <label for="age">Age <span class="text-muted red">*</span></label>
                          <input required #updateAge="ngModel" name="updateAge" type="number" class="form-control remove-spinner" [(ngModel)]="selectedPerson.age" maxlength="3" placeholder="Enter age" (keyup)="NumberLimit($event)" (blur)="NumberLimit($event)" (click)="NumberLimit($event)">
                          <small *ngIf="!selectedPerson.age?.toString().length && updateAge.touched" class="form-text text-muted red float-left required">*required</small>
                          <small class="form-text text-muted float-right">{{ selectedPerson.age?.toString().length || 0 }}/3</small>
                          <div class="clearfix"></div>
                        </div>
                                
                        <div class="col-md-12">
                          <label for="gender">Gender</label>
                          <div class="input-group mb-2">
                            <input disabled type="text" class="form-control" required readonly name="updateGender" [(ngModel)]="selectedPerson.gender" placeholder="...">
                            <div class="input-group-append">
                              <button class="btn btn-primary" (click)="selectUpdateGender()">Select</button>
                            </div>
                          </div>
                        </div>
                      
                      </div>
                    </div>
                  </form>

                  <div class="form-group">
                    <div class="col-md-12">
                      <h6 class="form-label-divider top-space">&nbsp;</h6>
                    </div>
                    <button style="min-width:120px" class="btn btn-success float-right mr-3 mb-3" [nbSpinner]="sgs.submitting" nbSpinnerStatus="success"
                      (click)="sgs.submitting = true; !ff.valid || updatePerson()"
                      [disabled]="!ff.valid || sgs.submitting">
                      Update Person</button>
                    <div class="clearfix"></div>
                  </div>

                </div>
                <div class="col-sm-3">  
                  <h4>Delete</h4>
                  {{ selectedPerson.selected }}
                  
                  <button *ngIf="selectedPerson.selected" style="min-width:120px" class="btn btn-success float-right mr-3 mb-3" [nbSpinner]="sgs.submitting" nbSpinnerStatus="success"
                  (click)="sgs.submitting = true; updatePersonStatus()"
                  [disabled]="sgs.submitting">
                  Delete Person</button>
                <div class="clearfix"></div>
                </div>
              </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>  
  
  
  
  