// .text-muted{
//     &.red{
//         color:#ff0000 !important;
//         &.required{
//             color: #ff0000 !important;
//             position: absolute;
//             right: 28px;
//             top: 36px;
//             animation: blinker 1.5s linear infinite;
//         }
//     }
// }

// .remove-spinner{
//     &::-webkit-inner-spin-button, 
//     &::-webkit-outer-spin-button { 
//         -webkit-appearance: none; 
//         margin: 0; 
//     }
// }
  
//   @keyframes blinker {
//     50% {
//       opacity: 0;
//     }
//   }