// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic, corporate);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #ebeff5,
  switcher-background-percentage: 50%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #ecf2f5,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #3edd81 0%, #3bddaf 100%),
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #4e41a5,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#a258fe, #7958fa),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: radial-gradient(circle, #302c6e 0%, #423f8c 100%),
  slide-out-shadow-color: 2px 0 3px rgba(19, 19, 94, 0.9),
  slide-out-shadow-color-rtl: -2px 0 3px rgba(19, 19, 94, 0.9),

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: rgba(0, 0, 0, 0.1),
  chart-panel-summary-border-color: #332e73,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #00c7c7 0%, #00d977 100%),
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #2b2d34,
  switcher-background-percentage: 14%,
  drops-icon-line-gadient: -webkit-linear-gradient(#e9e8eb, #a7a2be),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: 	linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #f7fafb,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #ff9f6f 0%, #ff8b97 100%),
), corporate, corporate);



/deep/{

  .form-label-divider{
    margin-bottom: 24px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    color: #000;
    &.top-space{
      margin-top:20px;
    }
  }

  .layout-container .menu-sidebar.fixed,
  bs-datepicker-container, bs-daterangepicker-container,
  .modal-backdrop,
  .modal-open .modal,
  .nb-theme-corporate nb-layout .layout nb-layout-header{
      z-index: 99999;
  }
  
  .nb-theme-corporate nb-popover{
    z-index:9999999;
  }
  ngb-modal-window.show{
      z-index:999999;
      .modal-body{
        max-height:620px;
        // overflow-y:scroll;
        overflow-y:auto;
        &.image-gallery{
          overflow:hidden;
          height:580px;
        }
      }
      button.close{ outline:none; }
  }

  .modal-dialog.modal-xl{
    max-width:1130px;
  }
  
  nb-menu li a{
    i.menu-icon {
      font-size: 24px !important;
      padding-right: 36px;
      display: block;
    }
    &.active{
      color:#444 !important
    }
  }
  .nb-theme-corporate .pages-heading{
    z-index:9999;
    nb-actions.medium nb-action i.control-icon {
      font-size: 20px;
      color: #494949;
    }
  }

  .btn.new{
    padding: 5px 8px;
    font-size: 11px;
    border-radius: 3px;
    cursor:pointer;
  }
  input:read-only.readonly {
    pointer-events:none;
    // &:focus{
    //   outline: none !important;
    //   border: 2px solid #dadfe6 !important;
    //   &::-webkit-input-placeholder {
    //       opacity: 1 !important;
    //       color: red !important;
    //   }
    // }
  }
}


.btn.btn-filter {
  color: #777!important;
  i{
    z-index:9;
    color: #fff;
    background: #ff6b83;
    display: block;
    padding: 10px 0;
    width: 20px;
    text-indent: 1px;
    right: 0;
    font-size: 10px;
    border-radius: 50%;
    top: -10px;
    position: absolute;
    height: 20px;
    text-align: center;
    line-height: 0;
    cursor: pointer;
  }
}

.sgs-image-gallery{
  width:100%;
  // border:1px solid #ddd;
  
  .sgs-pagination{
    clear: both;
    position: absolute;
    float:left;
    bottom: 60px;
    .sgs-pagination-item{
      float:left;
      background: #73a1ff;
      color: #fff;
      border: none;
      margin-right: 4px;
      padding: 4px 10px;
      cursor: pointer;
      border-radius: 2px;
      outline:none;
      &.current{
        opacity:.5;
        pointer-events: none;
      }
    }
  }
  
  .sgs-gallery-items{
    .item{
      cursor:pointer;
      overflow:hidden;
      float:left;
      position:relative;
      line-height:0;
      width:144.276px;
      height:144.276px;
      opacity:.75;
      background-size:cover;
      .image{
        background-size: cover;
        -webkit-animation: zoomoutt 200ms forwards;
        animation: zoomoutt 200ms forwards;
        width: 144.276px;
        height: 144.276px;
        &.notimage{
          background-repeat: no-repeat;
          background-position: center center;
          background-size:contain;
          background-color:#efefe8;
        }
      }
      &:hover{ opacity:1 }
      button{
        border:none;
        cursor:pointer;
        background:#73a1ff;
        padding:16px 0;
        box-sizing:border-box;
        color:#fff;
        text-align:center;
        position:absolute;
        bottom:0;
        margin-bottom:0;
        width:50%;
        text-transform:uppercase;
        font-size:11px;
        letter-spacing:1px;
        -webkit-animation: slidebottom 200ms forwards;
        animation: slidebottom 200ms forwards;
        outline:none;
        // display:none;

        &.preview{
          left:50%;
          background:#9cbdff;
        }
        &:hover{
          background:#7491c9;
        }
      }
        &:hover button{
          -webkit-animation: slidetop 200ms forwards;
          animation: slidetop 200ms forwards;
          // display:block;
        }
        &:hover .image{
          -webkit-animation: zoominn 750ms forwards;
          animation: zoominn 750ms forwards;
        }
    }
    &:last-child:after{
        display:block;
        content: "";
        height:0;
        clear:both;
        visibility:hidden;
      }
  }
  .sgs-search{
    display:flex;
    .sgs-gallery-button{
      background: #73a1ff;
      border: none;
      color: #fff;
      padding: 13px 20px;
      margin-left: 1px;
      cursor: pointer;
      box-sizing:border-box;
      float:left;
      // display:inline;
      display:flex;
      &.type{
        // border: 1px solid #73a1ff22;
        background: #73a1ff22;
        color: #5181e0;
        position:relative;
        outline:none;
        i{
          &:after{
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00d";
            font-style: normal;
            position: absolute;
            color: #fff;
            background: crimson;
            padding: 4px 7px;
            border-radius: 50%;
            font-size: 10px;
            top: -10px;
            right: 0;
            height: auto;
          }
          display:none;
        }
        &:hover i { display:block; }
      }
    }
    input.search{
      float:left;
      padding:12px 14px;
      border:1px solid #73a1ff22;
      border-radius:0;
      background:#73a1ff22;
      box-sizing:border-box;
      outline:none;
      color:#5181e0;
      flex: 1 1 auto;
      width: 1%;
      margin-left:1px;
      &::-webkit-input-placeholder { color:#5181e0; }
      &:-ms-input-placeholder { color:#5181e0; }
      &::placeholder { color:#5181e0; }
    }
  }

  .sgs-gallery{
    width:66%;
    float:left;
    height:600px;
    box-sizing:border-box;
    position:relative;
    .sgs-gallery-loader{
      width: 40px;
      // background: lightgreen;
      position: absolute;
      // z-index: 1;
      top: 50%;
      margin-top: -40px;
      left: 50%;
      margin-left: -20px;
      height: 40px;
    }
    // border:1px solid red;
  }
  .sgs-uploader{
    width:34%;
    float:right;
    height:600px;
    box-sizing:border-box;
    
    // border:1px solid blue;
    .uploader-container{
      padding:30px 20px 50px;
      background:#73a1ff22;
      border:2px dashed #ddd;
      width:340px;
      display:table;
      float:right;
      margin:66px auto 0;
      &.border{ border: 2px solid #fff !important }
      &:hover{
        border-color:#73a1ff75;
        .icon i{ color:#7491c977}
      }
      .icon{
        i{ font-size:120px; color:#73a1ff44; }
        display:table;
        margin:20px auto;
        p{
          text-align:center;
          color:#999;
          text-transform: uppercase;
          font-size:12px;
        }
      }
      button{
        background:#73a1ff;
        padding:16px 50px;
        border-radius:30px;
        border:none;
        font-size:16px;
        color:#fff;
        font-weight:600;
        margin:0 auto;
        display:table;
        text-transform: uppercase;
        outline:none;
        &:hover{
          opacity: .75;
          cursor:pointer;
        }
      }
    }
  }
}


.text-muted{
  &.red{
      color:#ff0000 !important;
      &.required{
          color: #ff0000 !important;
          position: absolute;
          right: 28px;
          top: 36px;
          animation: blinker 1.5s linear infinite;
      }
  }
}

.remove-spinner{
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes slidetop {
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@-webkit-keyframes slidetop {
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

@keyframes slidebottom {
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}

@-webkit-keyframes slidebottom {
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}

@keyframes zoominn {
  from{
    transform: scale(1,1);
  }
  to{
    transform: scale(1.2,1.2);
  }
}

@-webkit-keyframes zoominn {
  from{
    transform: scale(1,1);
  }
  to{
    transform: scale(1.2,1.2);
  }
}

@keyframes zoomoutt {
  from{
    transform: scale(1.2,1.2);
  }
  to{
    transform: scale(1,1);
  }
}

@-webkit-keyframes zoomoutt {
  from{
    transform: scale(1.2,1.2);
  }
  to{
    transform: scale(1,1);
  }
}