
<div class="row">
  <div class="col-sm-4">
    <div class="input-group mb-2">
        <input  type="text"  class="form-control" name="add" [(ngModel)]="add" placeholder="...">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addForm()">ADD Form</button>
        </div>
    </div>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
      <div class="text-center">
          <div class="card" style="size: 3inch;"  id="fillid" (click)="sssClick()">
            <div class="card-body">
              <h5>FORM 121</h5>        
            </div>
          </div>
        </div>
  </div>
</div>