<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="card-title" style="float: left; clear: both">Tasks List</h4>
            </div>
            <div class="col-sm-6" style="float: right; clear: right;">
                <div class="row">
                    <div class="col-sm-10">
                        <div size="medium" style="float: right; font-size: 10px;">
                            <nb-action>
                                <div class="input-group input-group-sm">
                                    <div class="dropdown input-group-prepend input-group-btn" ngbDropdown>
                                        <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle
                                            style="min-width: 108px;">
                                            {{ selectQueryString }}
                                        </button>
                                        <ul class="dropdown-menu" ngbDropdownMenu>
                                            <li class="dropdown-item" (click)="selectFilter('brand', 'brand')">Brand
                                            </li>
                                            <li class="dropdown-item"
                                                (click)="selectFilter('specs.processor', 'processor')">Processor</li>
                                            <li class="dropdown-item"
                                                (click)="selectFilter('specs.chipset', 'chipset')">Chipset</li>
                                            <li class="dropdown-item"
                                                (click)="selectFilter('specs.operatingsystem', 'operatingsystem')">OS
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="search" class="form-control" placeholder="Search.."
                                        [(ngModel)]="filterQuery">
                                </div>
                            </nb-action>
                        </div>
                    </div>                                                   
                    <div class="col-sm-2">
                        <nb-action icon="fa fa-plus-square" nbPopover="Create Task" nbPopoverMode="hint"
                            nbPopoverPlacement="bottom" (click)="createTask()" style="font-size: 28px;"></nb-action>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <table class="table" [mfData]="data | dataFilter : filterQuery: selectQuery" #mf="mfDataTable"
            [mfRowsOnPage]="5" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
                <tr>
                    <th style="width: 33%">ID</th>
                    <th style="width: 33%">Task Name</th>
                    <th style="width: 33%">Options</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                  
                    <td>
                        <a class="qq" (click)="editTask(item)"><span><i class="fas fa-pen-nib"></i></span> </a>
                        <a class="qq" (click)="deleteTask(item)"> <span><i class="fas fa-trash-alt"></i></span> </a>
                        
                        
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>  