<div class="modal-header">
  <h2 class="card-title">Create Mobile Brand</h2>
    <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<form #mobile="ngForm" novalidate>
    <div class="modal-body">
      <div class="form-group">
          <label for="brand">Brand<span class="text-muted red">*</span></label>
          <input   type="text" [(ngModel)]="brand" name="brand" class="form-control"
              placeholder="Enter Brand Name..">


      </div>
      <br>
      <div class="form-group">
          <label for="">SPECIFICATIONS</label>
          <br>
          <br>
          <div class="row">
              <div class="col-md-6">
                  <label for="">Operating System<span class="text-muted red">*</span></label>
                  <input type="text" [(ngModel)]="operatingsystem" name="operatingsystem" class="form-control"
                      placeholder="Enter OS">

        
                      
              </div>
              <div class="col-md-6">
                  <label for="">Processor<span class="text-muted red">*</span></label>
                  <input type="text"  [(ngModel)]="processor" name="processor" class="form-control"
                      placeholder="Enter processor..">

              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-6">
                  <label for="">Chipset<span class="text-muted red">*</span></label>
                  <input  type="text" [(ngModel)]="chipset" name="chipset" class="form-control"
                      placeholder=" Enter processor..">
       
              </div>
              <div class="col-md-6" >
                  <label for="">Touch<span class="text-muted red">*</span></label>
                 <br>
                      <label style="margin-right: 10px;" class="radio-inline">
                          <input  type="radio" value="true"  [(ngModel)]="touch" name="touch"> True
                      </label>
                      <label class="radio-inline">
                          <input type="radio" value="false"  [(ngModel)]="touch" name="touch"> False
                      </label>
                  
              </div>
          </div>
          <br><br>
          <label for="">Model<span class="text-muted red">*</span></label>
          <div class="form-group">
              <div class="row">

                  <div class="col-md-12">
                      <div *ngFor="let item of val.model" style="margin-bottom:12px">
                          {{ item.name }}
                          <a class="delete-button" (click)="deleteModel(item.name)" ><span class="ww"><i class="fas fa-trash-alt"></i></span></a>
                      </div>
                  </div>

                  <div class="col-md-8">
                      <form #validate = "ngForm">
                              <input type="text" #mod = "ngModel" [(ngModel)]="model" name="model" class="form-control" placeholder=" Enter Model e.g. (J7 Pro, P20, Iphone6 etc.)">
                      </form>
                  </div>
                  <div class="col-md-4" >
                          <input type="submit" [disabled]="validate.pristine || !model.length" (click)="addModel(model)" class="btn btn-primary" value="Add Model">
                  </div>
             
              </div>
          </div>
      </div>
    </div>
    <div class="modal-footer">
        <input [disabled]="!brand || !operatingsystem || !processor || !touch || !chipset"  type="submit" (click)="onBrandSubmit(f)" class="btn btn-primary" value="Create">
        <button class="btn btn-sm btn-secondary" (click)="closeModal()">Close</button>
    </div>
  </form>
