

<div class="card">
    <div class="card-body">
  <h2 class="card-title">Create Mobile Brand</h2>
  <form >
      <div class="form-group">
          <label for="">BRAND</label>
          <input type="text" [(ngModel)]="brand" name="brand" class="form-control"
              placeholder="Enter Brand Name e.g. (Samsung, Iphone, Huawei, Sony etc.)">
      </div>
      <br>
      <div class="form-group">
          <label for="">SPECIFICATIONS</label>
          <br>
          <br>
          <div class="row">
              <div class="col-md-6">
                  <label for="">Operating System</label>
                  <input type="text" [(ngModel)]="operatingsystem" name="operatingsystem" class="form-control"
                      placeholder="Enter OS e.g. (Android or IOS)">
              </div>
              <div class="col-md-6">
                  <label for="">Processor</label>
                  <input type="text" [(ngModel)]="processor" name="processor" class="form-control"
                      placeholder="Enter processor e.g. (Snapdragon, Apple, Kirin, Mediatek)">
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-6">
                  <label for="">Chipset</label>
                  <input type="text" [(ngModel)]="chipset" name="chipset" class="form-control"
                      placeholder=" Enter processor e.g. (Apple, Huawei Kirin, Qualcomm Snapdragon, Exynos)">
              </div>
              <div class="col-md-6" >
                  <label for="">Touch</label>
                 <br>
                      <label style="margin-right: 10px;" class="radio-inline">
                          <input  type="radio" value="true"  [(ngModel)]="touch" name="touch"> True
                      </label>
                      <label class="radio-inline">
                          <input type="radio" value="false"  [(ngModel)]="touch" name="touch"> False
                      </label>
                  
              </div>
          </div>
          <br><br>
          <label for="">MODEL</label>
          <div class="form-group">
              <div class="row">

                  <div class="col-md-12">
                      <div *ngFor="let item of val.model" style="margin-bottom:12px">
                          {{ item.name }}
                          <a class="delete-button" (click)="deleteModel(item.name)" ><span class="ww"><i class="fas fa-trash-alt"></i></span></a>
                      </div>
                  </div>

                  <div class="col-md-8">
                      <form #validate = "ngForm">
                              <input type="text" #mod = "ngModel" [(ngModel)]="model" name="model" class="form-control" placeholder=" Enter Model e.g. (J7 Pro, P20, Iphone6 etc.)">
                      </form>
                  </div>
                  <div class="col-md-4" >
                          <input type="submit" [disabled]="validate.pristine || !model.length" (click)="addModel(model)" class="btn btn-primary" value="Add Model">
                  </div>
             
              </div>
          </div>
      </div>
      <input [disabled]="!brand || !operatingsystem || !processor || !touch || !chipset" type="submit" (click)="onBrandSubmit(f)" class="btn btn-primary" value="Create">
  </form>
</div>
</div>

