<div class="row">
    <div class="col-sm-12">
      <nb-card>
          <nb-card-header class="pages-heading">
              <div class="action-groups-header" style="float: left; clear: both; line-height:30px;">
                SGS ARRAY UPDATE
              </div>
              <nb-actions size="medium" style="float: right; font-size: 10px;">
                <!-- <nb-action icon="fa fa-plus-square" tooltip="New Sales Order" placement="bottom" [routerLink]="['/admin/sales/sales-order/add-sales-order']"></nb-action> -->
                <nb-action>
                  <div class="dropdown ghost-dropdown" ngbDropdown>
                    <button class="btn btn-primary" type="button" ngbDropdownToggle>
                      Export As &nbsp;&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item">PDF</li>
                      <li class="dropdown-item">Microsoft Excel</li>
                    </ul>
                  </div>
                </nb-action>
                <nb-action icon="fa fa-print" tooltip="Print" placement="bottom"></nb-action>
                <nb-action icon="fas fa-backspace" (click)="sgs.back()" tooltip="Back" placement="bottom"></nb-action>
              </nb-actions>
          </nb-card-header>
        </nb-card>
  
        <print-order-template *ngIf="sgs.printable.ready" [id]="sgs.printable.id" [title]="sgs.printable.title" [hidden]="true"></print-order-template>
  
        <nb-card [nbSpinner]="sgs.loading" nbSpinnerStatus="success">
          <nb-card-body>
              <div class="row">  
                
                  <div class="col-md-6">

                    <div class="col-md-12 mb-3">
                      <label for="gender">Select Person</label>
                      <div class="input-group mb-2">
                        <input disabled type="text" class="form-control" required readonly name="selectedPerson" [(ngModel)]="selectedPerson.name" placeholder="...">
                        <div class="input-group-append">
                          <button class="btn btn-primary" (click)="SelectPerson()">Select</button>
                        </div>
                      </div>
                    </div>


                    <ng-container *ngIf="selectedPerson?.id !== undefined">
                      <form #f="ngForm" novalidate>
                        <div class="form-group">
                          <div class="row m-0 pl-0">
                            <div class="col-md-12">
                              <h6 class="form-label-divider">Add Child</h6>
                            </div>

                            <div class="col-md-12">
                              <label for="fname">First Name<span class="text-muted red">*</span></label>
                              <input #fname="ngModel" required name="fname" type="text" class="form-control" [(ngModel)]="Child.fname" maxlength="50" placeholder="Enter first name">
                              <small *ngIf="!Child.fname?.length && fname.touched" class="form-text text-muted red float-left required">*required</small>
                              <small class="form-text text-muted float-right">{{ Child.fname?.length }}/50</small>
                            </div>
                            
                            <div class="col-md-12">
                              <label for="mname">Middle Name<span class="text-muted red">*</span></label>
                              <input #mname="ngModel" required name="mname" type="text" class="form-control" [(ngModel)]="Child.mname" maxlength="50" placeholder="Enter middle name">
                              <small *ngIf="!Child.mname?.length && mname.touched" class="form-text text-muted red float-left required">*required</small>
                              <small class="form-text text-muted float-right">{{ Child.mname?.length }}/50</small>
                            </div>
                            
                            <div class="col-md-12">
                              <label for="lname">Last Name<span class="text-muted red">*</span></label>
                              <input #lname="ngModel" required name="lname" type="text" class="form-control" [(ngModel)]="Child.lname" maxlength="50" placeholder="Enter last name">
                              <small *ngIf="!Child.lname?.length && lname.touched" class="form-text text-muted red float-left required">*required</small>
                              <small class="form-text text-muted float-right">{{ Child.lname?.length }}/50</small>
                            </div>
                          
                          </div>
                        </div>
                      </form>
    
                      <div class="form-group">
                        <div class="col-md-12">
                          <h6 class="form-label-divider top-space">&nbsp;</h6>
                        </div>
                        <button style="min-width:120px" class="btn btn-success float-right mr-3 mb-3" [nbSpinner]="sgs.submitting" nbSpinnerStatus="success"
                          (click)="sgs.submitting = true; !f.valid || Submit(f)"
                          [disabled]="!f.valid || sgs.submitting">
                          Add Child</button>
                        <div class="clearfix"></div>
                      </div>
                    </ng-container>
                  </div>
                    
                
                  <div class="col-md-6">
                    <form #f="ngForm" novalidate>
                      <div class="form-group">
                        <div class="row m-0 pl-0">
  
                            <ng-container *ngIf="selectedPerson?.id !== undefined">
                              <div class="col-md-12">
                                <h6 class="form-label-divider">{{ selectedPerson.name }} &mdash; has ({{ selectedPerson?.children?.length || 0 }}) children</h6>
                                <table *ngIf="selectedPerson?.children?.length" class="table">
                                  <thead>
                                    <th>CID</th>
                                    <th>FName</th>
                                    <th>MName</th>
                                    <th>LName</th>
                                    <th>Option</th>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let child of selectedPerson.children">
                                      <td><input type="text" class="form-control edit" name="id" [value]="child.id" disabled></td>
                                      <td><input type="text" class="form-control edit" name="fname" #fname [value]="child.fname"></td>
                                      <td><input type="text" class="form-control edit" name="mname" #mname [value]="child.mname"></td>
                                      <td><input type="text" class="form-control edit" name="lname" #lname [value]="child.lname"></td>
                                      <td><button (click)="UpdateChild({ id:child.id, fname:fname.value, mname:mname.value, lname:lname.value })" class="btn btn-primary save"><i class="fas fa-paper-plane"></i> Save</button></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </ng-container>
                            
                            <ng-container *ngIf="selectedPerson?.id === undefined">
                              <div class="mt-5">
                                  Please select a Person
                              </div>
                            </ng-container>
                        
                        
                        </div>
                      </div>
                    </form>
                  </div>

              </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>  
  
  
  
  