<div class="modal-header">
  <h2 class="card-title">Form 121</h2>
    <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
  <form >
    <div class="modal-body">

            <div class="row">
                    <div class="col-sm-4">
                            <div class="form-group">
                                    <label for="">Given Name</label>
                                    <input type="text" [(ngModel)]="fname" name="fname" class="form-control"
                                        placeholder="Enter Fistname..">
                                </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="form-group">
                                    <label for="">Middle Name</label>
                                    <input type="text" [(ngModel)]="mname" name="mname" class="form-control"
                                        placeholder="Enter Middlename..">
                                </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="form-group">
                                    <label for="">Surname</label>
                                    <input type="text" [(ngModel)]="lname" name="lname" class="form-control"
                                        placeholder="Enter Lastname..">
                                </div>
                    </div>
                </div>

     
     
      <br>
   <div class="row">
       <div class="col-sm-8">
            <div class="form-group">
                    <label for="">Address</label>
                    <input type="text" [(ngModel)]="address" name="Address" class="form-control"
                        placeholder="No. & Street ; City/Town & Province">
                </div>
       </div>
       <div class="col-sm-4">
            <div class="form-group">
                    <label for="">Age</label>
                    <input type="number" [(ngModel)]="age" name="age" class="form-control"
                        placeholder="Enter age..">
                </div>
        </div>
   </div>
          <br>
    <div class="row">
              <div class="col-sm-8">
                  <label for="">Company Name</label>
                  <input type="text" [(ngModel)]="company" name="Company" class="form-control"
                      placeholder=" Enter Company name..">
              </div>
              <div class="col-sm-4">
                            <label for="touch">Gender</label>
                            <div class="input-group mb-2">
                              <input disabled type="text"  class="form-control" required readonly name="sex" [(ngModel)]="Forms.sex" placeholder="...">
                              <div class="input-group-append">
                                <button class="btn btn-primary" (click)="selectSex()">Select</button>
                              </div>
                          </div>
                </div>
              
            </div>
     

      </div>

    <div class="modal-footer">
        <input [disabled]="!fname || !mname || !lname || !age || !address ||  !company   "  type="submit" (click)="submitForm(f)" class="btn btn-primary" value="Submit">
        <button class="btn btn-sm btn-secondary" (click)="closeModal()">Close</button>
    </div>
  </form>
