<div class="modal-header" >
    <div class="text-center" style="margin-left: 360px;"> {{viewData.fname}}</div>
    </div>
    <div class="modal-body">
    <div class="row text-center" >
        <div class="col-sm-6">
          ID
        </div>
        <div class="col-sm-6">
           {{viewData.id}}  
          </div>
      </div>
<hr>
<div class="row text-center">
    <div class="col-sm-6">
      Middle Name
    </div>
    <div class="col-sm-6">
       {{viewData.mname}}
      </div>
  </div>
  <hr>

  <div class="row text-center">
      <div class="col-sm-6">
        Last Name
      </div>
      <div class="col-sm-6">
         {{viewData.lname}}
        </div>
    </div>
  <hr>
<div class="row text-center">
    <div class="col-sm-6">
      Age
    </div>
    <div class="col-sm-6">
       {{viewData.basic.age}}
      </div>
  </div>
  <hr>
  <div class="row text-center">
      <div class="col-sm-6">
        Address
      </div>
      <div class="col-sm-6">
         {{viewData.basic.address}}
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-sm-6">
          Company
        </div>
        <div class="col-sm-6">
           {{viewData.basic.company}}
          </div>
      </div>
      <hr>
  </div>
  <div class="modal-footer">
      <button class="btn btn-sm btn-secondary" (click)="closeModal()">Close</button>
  </div>

