<div class="row">
    <div class="col-sm-12">
      <nb-card>
          <nb-card-header class="pages-heading">
              <div class="action-groups-header" style="float: left; clear: both; line-height:30px;">
                Angular2 Datatable
              </div>
              <nb-actions size="medium" style="float: right; font-size: 10px;">
                <nb-action icon="fa fa-plus-square" tooltip="New Sales Order" placement="bottom" [routerLink]="['/admin/sales/sales-order/add-sales-order']"></nb-action>
                <nb-action>
                  <div class="dropdown ghost-dropdown" ngbDropdown>
                    <button class="btn btn-primary" type="button" ngbDropdownToggle>
                      Export As &nbsp;&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item">PDF</li>
                      <li class="dropdown-item">Microsoft Excel</li>
                    </ul>
                  </div>
                </nb-action>
                <nb-action icon="fa fa-print" tooltip="Print" placement="bottom"></nb-action>
                <nb-action icon="fas fa-backspace" (click)="sgs.back()" tooltip="Back" placement="bottom"></nb-action>
              </nb-actions>
          </nb-card-header>
        </nb-card>
  
        <print-order-template *ngIf="sgs.printable.ready" [id]="sgs.printable.id" [title]="sgs.printable.title" [hidden]="true"></print-order-template>
  
        <nb-card [nbSpinner]="sgs.loading" nbSpinnerStatus="success">
          <nb-card-body>
              <div class="row">  
                <div class="col-sm-12">  
                  <div class="clear"></div>   
                  <table class="table" [mfData]="data | multiFilter : sgs.filterQuery : sgs.multifilter : 'id' " #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                      <tr>
                        <th scope="col" width="25%">ID</th>
                        <th scope="col" width="25%">Company</th>
                        <th scope="col" width="25%">First Name</th>
                        <th scope="col" width="25%">Last Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="!mf.data.length">
                          <td scope="col" colspan="6">No sales order found</td>
                      </tr>
                      <tr *ngFor="let data of mf.data">
                        <td scope="col">{{ data.id }}</td>
                        <td scope="col">{{ data.company}}</td>
                        <td scope="col">{{ data.fname}}</td>
                        <td scope="col">{{ data.lname }}</td>
                        <td scope="col">{{ data.terms }}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="10">
                          <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50,100]"></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>  
  
  
  
  