<div class="row">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header class="pages-heading">
        <div class="action-groups-header" style="float: left; line-height: 20px;">
          Mobile CRUD
        </div>
        <nb-actions size="medium" style="float:right; font-size: 8px;">
          <nb-action icon="fas fa-backspace" (click)="sgs.back()" tooltip="Back" placement="bottom"></nb-action>
          <nb-action icon="fa fa-window-close" (click)="sgs.close()" nbPopover="Close" nbPopoverMode="hint"
            nbPopoverPlacement="right"></nb-action>
        </nb-actions>
      </nb-card-header>
    </nb-card>


    <nb-card-body>
      <div class="row">
        <div class="col-sm-3">
          <h5>Create</h5>
          <form #mobile="ngForm" novalidate>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <label for="brand">Brand <span class="text-muted red">*</span></label>
                  <input #brand="ngModel" required name="brand" type="text" class="form-control"
                    [(ngModel)]="Brand.brand" maxlength="100" placeholder="Enter Bramd Name...">
                  <small *ngIf=" !Brand.brand?.length && brand.touched"
                    class="form-text text-muted red float-left required">*required</small>
                  <small class="form-text text-muted float-right ">{{Brand.brand?.length}}/100</small>
                </div>

                <label for="Specs">Specifications</label>
                <br />
                <div class="col-md-12">
                  <label for="operatingsystem">OS <span class="text-muted red">*</span></label>
                  <input #operatingsystem="ngModel" required name="operatingsystem" type="text" class="form-control"
                    [(ngModel)]="Brand.operatingsystem" maxlength="100" placeholder="Enter OS...">
                  <small *ngIf=" !Brand.operatingsystem?.length && operatingsystem.touched"
                    class="form-text text-muted red float-left required">*required</small>
                  <small class="form-text text-muted float-right ">{{Brand.operatingsystem?.length}}/100</small>
                </div>

                <div class="col-md-12">
                  <label for="processor">Processor <span class="text-muted red">*</span></label>
                  <input #processor="ngModel" required name="processor" type="text" class="form-control"
                    [(ngModel)]="Brand.processor" maxlength="100" placeholder="Enter Processor...">
                  <small *ngIf=" !Brand.processor?.length && processor.touched"
                    class="form-text text-muted red float-left required">*required</small>
                  <small class="form-text text-muted float-right ">{{Brand.brand?.length}}/100</small>
                </div>

                <div class="col-md-12">
                  <label for="chipset">Chipset <span class="text-muted red">*</span></label>
                  <input #chipset="ngModel" required name="chipset" type="text" class="form-control"
                    [(ngModel)]="Brand.chipset" maxlength="100" placeholder="Enter Bramd Name...">
                  <small *ngIf=" !Brand.chipset?.length && chipset.touched"
                    class="form-text text-muted red float-left required">*required</small>
                  <small class="form-text text-muted float-right ">{{Brand.chipset?.length}}/100</small>
                </div>

                <div class="col-md-12">
                  <label for="touch">Touch</label>
                  <div class="input-group mb-2">
                    <input disabled type="text"  class="form-control" required readonly name="touch" [(ngModel)]="Brand.touch" placeholder="...">
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="selectTouch()">Select</button>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="model">Model <span class="text-muted red">*</span></label>
                  <div class="form-group">
                      <div class="row">

                          <div class="col-md-12">
                              <div *ngFor="let item of val.model" style="margin-bottom:12px">
                                  {{ item.name }}
                                  <a class="delete-button" (click)="deleteModel(item.name)" ><span class="ww"><i class="fas fa-trash-alt"></i></span></a>
                              </div>
                          </div>
                          <div class="col-md-8">
                              <form #validate = "ngForm">
                                      <input type="text" #mod = "ngModel" [(ngModel)]="model" name="model" class="form-control" placeholder=" Enter Model e.g. (J7 Pro, P20, Iphone6 etc.)">
                              </form>
                          </div>
                          <div class="col-md-4" >
                                  <input type="submit" [disabled]="validate.pristine || !model.length" (click)="addModel(model)" class="btn btn-primary" value="Add">
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="form-group">
              <div class="col-md-12">
                <h6 class="form-label-divider top-space">&nbsp;</h6>
              </div>
              <button style="min-width:120px" class="btn btn-success float-right mr-3 mb-3" [nbSpinner]="sgs.submitting" nbSpinnerStatus="success" [disabled]="!Brand.brand || !Brand.operatingsystem || !Brand.processor || !Brand.touch || !Brand.chipset"
                (click)="onBrandSubmit()">
                Create Brand</button>
              <div class="clearfix"></div>
            </div>
        </div>
        <!-- <div class="col-sm-3">
          <h4>List</h4>
          ({{ data.length }}) Brands found.
          <div class="col-md-12 mt-3">
            <label for="selectBrand">Select Brand</label>
            <div class="input-group mb-2 ">
              <input type="text" disabled class="form-control" required readonly name="selectBrand" [(ngModel)]="selectedBrand.selected" placeholder="...">
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="selectBrand">
                Select
                </button>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
      </div>
    </nb-card-body>
  </div>
</div>