<div class="modal-header">
        Update Mobile Brand
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form>
            <div class="modal-body">
        <div class="form-group">
            <label for="">BRAND</label>
            <input type="text" [(ngModel)]="editData.brand" name="brand" class="form-control" placeholder="Enter Brand Name e.g. (Samsung, Iphone, Huawei, Sony etc.)">
        </div>
        <br>
        <div class="form-group">
            <label for="">SPECIFICATIONS</label>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="">Operating System</label>
                    <input type="text" [(ngModel)]="editData.specs.operatingsystem" name="operatingsystem" class="form-control"
                        placeholder="Enter OS e.g. (Android or IOS)">
                </div>
                <div class="col-md-6">
                    <label for="">Processor</label>
                    <input type="text" [(ngModel)]="editData.specs.processor" name="processor" class="form-control"
                        placeholder="Enter processor e.g. (Snapdragon, Apple, Kirin, Mediatek)">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="">Chipset</label>
                    <input type="text" [(ngModel)]="editData.specs.chipset" name="chipset" class="form-control"
                        placeholder=" Enter processor e.g. (Apple, Huawei Kirin, Qualcomm Snapdragon, Exynos)">
                </div>
                <div class="col-md-6">
                    <label for="">Touch</label>
                   <br>
             
                        <label class="radio-inline" style="margin-right: 10px;">
                            <input type="radio" [value]="true"  [(ngModel)]="editData.specs.touch" name="touch" >True
                        </label>
                        <label class="radio-inline">
                            <input type="radio" [value]="false"  [(ngModel)]="editData.specs.touch" name="touch">False
                        </label>
                    
                </div>
            </div>
            <br><br>

            <label>MODEL</label>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngFor="let item of editData.model" style="margin-bottom:12px">
                            {{ item.name }}
                            <a class="delete-button" (click)="deleteModel(item.name)" ><span class="ww"><i class="fas fa-trash-alt"></i></span></a>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <input type="text" [(ngModel)]="model" name="model" class="form-control" placeholder=" Enter Model e.g. (J7 Pro, P20, Iphone6 etc.)">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" [disabled]="!model.length" (click)="addModel(model)" class="btn btn-primary" value="Add Model">
                    </div>
                </div>

            </div>
        </div>
    </div>
        <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" (click)="closeModal()">Close</button>
       <button nbButton (click)="edited()"  >Update</button>
    </div>
    </form>
