.fieldError{
    border: 2px solid #ff6b83;
}


.group_name_container{
    border: 1px solid #b7b7b7;
    padding: 8px;
}

.group_name{
    width: 100%;
    border: 0px;
}

.content_container{
    width: 100%;
}

.members_container{
    width: 60%;
    float: left;
    height: 300px;
    border-right: 1px solid #b7b7b7;
    padding-right: 5px;
}

.selected_container{
    float: right;
    width: 40%;
    height: 300px;
}


.search_person{
    border: 1px solid #b7b7b7;
    padding: 8px;
}

.persons{
    width: 100%;
    border: 0px;
}

.avatar{
    border-radius:50%;
	margin-left:20px;
    margin-right:8px;
    width: 40px;
    height: 40px;
}

.list_persons{
    height: 260px;
    overflow: auto;
}

.selected_persons_container{
    height: 100%;
    width: 100%;
}

.table th, .table td {
    padding: 3px;
}

table tr td:hover{ 
    background-color: #ececec;
}

.selected_persons_container{
    margin-top: 10px;
    height: 270px;
    overflow: auto;
}

.counter_container{
    margin-left: 10px;
}

.selected_person:hover{
    background-color: #ececec;
    cursor: pointer;
}

.checkbox{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: #50b2c3;
}

.disable_link:hover {
    cursor: not-allowed;
}