<div class="modal-header" >
      <div class="text-center">{{viewData.brand}}</div>
      </div>
      <div class="modal-body">
      <div class=" text-center">Specifications</div>
      <br><br>
      <div class="row text-center" >
          <div class="col-sm-6">
            Touch
          </div>
          <div class="col-sm-6">
             {{viewData.specs.touch}}  
            </div>
        </div>
  <hr>
  <div class="row text-center">
      <div class="col-sm-6">
        Chipset
      </div>
      <div class="col-sm-6">
         {{viewData.specs.chipset}}
        </div>
    </div>
    <hr>
  
    <div class="row text-center">
        <div class="col-sm-6">
          Operating System
        </div>
        <div class="col-sm-6">
           {{viewData.specs.operatingsystem}}
          </div>
      </div>
    <hr>
  <div class="row text-center">
      <div class="col-sm-6">
        Processor
      </div>
      <div class="col-sm-6">
         {{viewData.specs.processor}}
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-sm-6">
          Model
        </div>
        <div class="col-sm-6">
            <div class="text-muted" *ngIf="viewData.model.length === 0">
                No models found!
            </div>
            <div class="text-muted" *ngIf="viewData.model.length > 1">
                There are {{ viewData.model.length }} models
            </div>
            <div class="text-muted" *ngIf="viewData.model.length === 1">
                {{ viewData.model[0].name}}
            </div>
          </div>

      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" (click)="closeModal()">Close</button>
    </div>

