<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()"><span>E R A</span></div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<div class="header-container">
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <!-- <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"  [name]="user?.username" [picture]=""></nb-user>
    </nb-action> -->
    
    <nb-action>
      <div id="tt-user-menu">
          <div class="display-photo"
          [style.background-image]="'url('+this.sgs.connection+ '/avatars/'+user.avatar+')'"></div>
          <div class="display-name">
            <span>{{ user?.lname }}, {{ user.fname }}</span>
          </div>
          <ul class="tt-menu">
            <li (click)="updateUser();">Profile</li>
            <li (click)="logout()">Logout</li>
          </ul>
        </div>
    </nb-action>
  </nb-actions>
  <nb-actions>
    <!-- <nb-action>
      <a class="far fa-comment-dots" (click)="openChat();"></a>
    </nb-action> -->

    <nb-action (click)="openChat();">
      <label class="far fa-comment-dots">
        <span class="message-notif-amount">0</span>
      </label>
    </nb-action>
  </nb-actions>

  <nb-actions>
      <nb-action>
        <label class="far fa-bell" for="notification">
          <span class="notif-amount" *ngIf="cache.length || sgs.notifLength">{{ cache.length + sgs.notifLength }}</span>
          <input type="checkbox" [(ngModel)]="sgs.notificationStatus" name="notification" id="notification">
        </label>
        <tt-header-notification *ngIf="sgs.notificationStatus"></tt-header-notification>
      </nb-action>
  </nb-actions>

</div>
