input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/deep/.nb-theme-corporate nb-card-body {
    overflow: unset;
}

.table thead th {
    border: 1px solid #55684b;
    text-align: center;
    background-color: #5dcfe3;
}
.table tfoot tr {
    font-weight: bold;
}
.address_container {
    float: right;
}
.po_title_container{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.supplier_info{
    font-weight: bold;
}
.remarks{
    border-top: 1px solid black;
    border-bottom: 1px solid ;
    padding-top: 10px;
    padding-bottom: 10px;
}
.prepared_container{
    width: 100%;
    margin-top: 10px;
}

