<div id="print">
  <div class="printable">
    <div class="left">
        <img src="../../../assets/images/hmed_logo.png">
    </div>
    <div class="right">
      <div class="address">
        <p>76-6 MM Building, B.S Aquino Drive, Bacolod City</p>
        <p><strong>MARVIN Q. HERMOSURA - Proprietor</strong></p>
        <p>VAT REG No. 936-595-907-0000</p>
        <p>Telefax (034) 707-0844</p>
      </div><div class="clearfix"></div>
    </div><div class="clearfix"></div>

    <div class="title">{{ title }}</div>

    <table *ngIf="data.customer" class="customer" style="width:100%; border-top:2px solid #333; border-bottom:2px solid #333;">
      <tbody>
        <tr>
          <td colspan="3" class="text-right" width="100%"><b>DATE: </b>{{ data.date_added | date: "MM/dd/yyyy" }}</td>
        </tr>
        <tr>
          <td><b>NAME: </b>{{ data.customer?.name }}</td>
          <td colspan="3" class="text-right"><b>TERMS: </b>{{ data.terms }}</td>
        </tr>
        <tr>
          <td width="50%"><b>ADDRESS: </b>
            {{ data.customer?.billing_address.line1 }}
            {{ data.customer?.billing_address.city }}
            {{ data.customer?.billing_address.zipcode }}
            {{ data.customer?.billing_address.province }}
          </td>
          <td width="20%" class="text-right"><b>TIN: </b>{{ data.customer?.tin }}</td>
          <td width="30%" class="text-right"><b>S.O Number: </b>#{{ data.id }}</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="data.supplier" class="customer" style="width:100%; border-top:2px solid #333; border-bottom:2px solid #333;">
      <tbody>
        <tr>
          <td colspan="3" class="text-right" width="100%"><b>DATE: </b>{{ data.date_added | date: "MM/dd/yyyy" }}</td>
        </tr>
        <tr>
          <td><b>SUPPLIER: </b>{{ data.supplier?.name }}</td>
          <td colspan="3" class="text-right"><b>TERMS: </b>{{ data.terms }}</td>
        </tr>
        <tr>
          <td width="50%"><b>ADDRESS: </b>
            {{ data.supplier?.billing_address.line1 }}
            {{ data.supplier?.billing_address.city }}
            {{ data.supplier?.billing_address.zipcode }}
            {{ data.supplier?.billing_address.province }}
          </td>
          <td width="20%" class="text-right"><b>TIN: </b>{{ data.supplier?.tin }}</td>
          <td  width="30%" class="text-right"><b>P.O Number: </b>#{{ data.id }}</td>
        </tr>
      </tbody>
    </table>

    <table class="products" style="width:100%">
      <thead>
        <tr>
          <th nbPopover="Product ID" nbPopoverMode="hint" nbPopoverPlacement="top">
            PID 
            <!-- <span style="float:right;"><i class="fas fa-info-circle"></i></span> -->
          </th>
          <th>ITEM</th>
          <th>UNIT</th>
          <th>QUANTITY</th>
          <th>UNIT PRICE</th>
          <th>AMOUNT</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data.products; let i = index">
          <td>{{ item.pid }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.unit }}</td>
          <td class="text-right">{{ item.quantity }}</td>
          <td class="text-right">{{ item.price | numberWithCommas:2 }}</td>
          <td class="text-right">{{ item.subtotal | numberWithCommas:2 }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="bold" style="border-right:none; font-weight:600">REMARKS: {{ data.note }}</td>
          <td class="text-right bold"  style="font-weight:600">TOTAL: </td>
          <td colspan="6"class="text-right">₱ {{ data.total | numberWithCommas:2 }}</td>
        </tr>
      </tfoot>
    </table>

    <table *ngIf="data.customer" class="customer" style="width:100%; position:fixed; border-top:2px solid #333; bottom:10px">
      <tbody>
        <tr>
          <td width="32%" class="text-center">
            <b>ORDERED FROM</b>
            <div style="border-bottom:1px solid #999; padding-top:50px"></div>
            <div>Customer's Signature</div>
          </td>
          <td width="32%" class="text-center">
            <b>ORDER TAKEN BY</b>
            <div style="border-bottom:1px solid #999; padding-top:50px"></div>
            <div>{{ data.added_by }}</div>
          </td>
          <td width="36%" class="text-center">
            <b>SALES & DEALS APPROVED BY</b>
            <div style="border-bottom:1px solid #999; padding-top:50px"></div>
            <div>{{ data.lastUpdateBy }}</div>
          </td>
        </tr>
      </tbody>
    </table>   

    <table *ngIf="data.supplier" class="customer" style="width:100%; position:fixed; border-top:2px solid #333; bottom:10px">
      <tbody>
        <tr>
          <td width="32%" class="text-center">
            <b>PREPARED BY</b>
            <div style="border-bottom:1px solid #999; padding-top:50px"></div>
            <div>Supplier's Signature</div>
          </td>
          <td width="32%" class="text-center">
            <b>NOTED BY</b>
            <div style="border-bottom:1px solid #999; padding-top:50px"></div>
            <div>{{ data.added_by }}</div>
          </td>
          <td width="36%" class="text-center">
            <b>APPROVED BY</b>
            <div style="border-bottom:1px solid #999; padding-top:50px"></div>
            <div>{{ data.lastUpdateBy }}</div>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>