<div class="modal-header">
    Create Group
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div class="group_name_container">
     <input type="text" class="group_name" placeholder="Name your group" [(ngModel)]="groupName">
   </div>
   <hr>
   <div class="content_container">
      <div class="members_container">
        <div class="search_person">
          <input type="text" class="persons" placeholder="Search for people to add" [(ngModel)]="filterQuery">
        </div>
        <div class="list_persons">
          <table class="table " [mfData]="data | dataFilter : filterQuery: selectQuery" #mf="mfDataTable" [mfRowsOnPage]="1000" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <tbody>
              <tr *ngFor="let person of mf.data">
                <td class="pointer" (click)="selectPerson(person)"> 
                  <img class="avatar" src="http://www.sclance.com/pngs/avatar-png/./avatar_png_70883.jpg" alt="">
                  {{ person.fname + " " + person.lname }}
                  <i class="fas fa-check-circle checkbox" *ngIf="person.selected"></i>
                  <i class="far fa-check-circle checkbox" *ngIf="!person.selected"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="selected_container"> 
        <div class="counter_container">
          SELECTED: {{ selectedCount }}
        </div>
        <div class="selected_persons_container">
          <div class="selected_person" *ngFor="let person of selectedPersons" (click)="removePerson(person)">
            <img class="avatar" src="http://www.sclance.com/pngs/avatar-png/./avatar_png_70883.jpg" alt="">
            {{ person.fname + " " + person.lname }}
          </div>
        </div>
      </div>
   </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="closeModal()">Close</button>
    <button type="submit" class="btn btn-success confirm-btn" [disabled]="false" (click)="create()">Create</button>
  </div>