<div class="row">

    <div class="col-sm-12" (click)="c1Submit()">
      <div class="card"  style="size: 3inch;"  id="fillid" >
        <div class="card-body">
            <a class="qq" (click)="c1Submit()"><h4  style="text-align:center">SSS</h4></a>
          </div>
      </div>
        <div class="card"  style="size: 3inch;"  id="fillid" >
          <div class="card-body">
              <a class="qq" (click)="c2Submit()"><h4  style="text-align:center">BIR</h4></a>
          </div>
        </div>


          <div class="card"  style="size: 3inch;"  id="fillid" >
            <div class="card-body">
               <a class="qq" (click)="c3Submit()"><h4 style="text-align:center">PAG-iBIG</h4></a>
            </div>
          </div>
        </div>
</div>