<div class="modal-header">
  Update User Account
  <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="form">
<div class="modal-body">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-md-6">
          <span class="form-text">User Role:</span>
          <select class="form-control" formControlName="role" [ngClass]="{'fieldError': form.get('role').touched && form.controls['role'].errors?.required}">
            <option disabled>SELECT</option>
            <option>admin</option>
            <option>user</option>
            <option>accounting</option>
            <option>hr</option>
            <option>inventory</option>
            <option>stockler</option>
            <option>sales</option>
            <option>medrep</option>
            <option>marketing</option>
          </select>
        </div>
        <div class="col-md-6">
          <span class="form-text">Username: 
            <span nbPopover="username is required" class="error" *ngIf="form.get('username').touched && form.controls['username'].errors?.required">
              <i class="fas fa-exclamation-triangle error"></i> Required Field
            </span>
          </span>
          <input type="text" class="form-control" formControlName="username" [ngClass]="{'fieldError': form.get('username').touched && form.controls['username'].errors?.required}">
        </div>
      </div>    
      <div class="clear"></div>
      <div class="row">
        <div class="col-md-6">
          <span class="form-text">Password:
            <div class="input-group">
              <div class="dropdown input-group-prepend input-group-btn wide" ngbDropdown>
                <input type="{{showpassword ? 'text' : 'password'}}" class="form-control" formControlName="password" [ngClass]="{'fieldError': form.get('password').touched && form.controls['password'].errors?.required}">
                <button type="button" class="btn btn-default" style="color: #000" (click)="showPassword()">
                  <i [ngClass]="eyeIcon"></i>
                </button>
              </div>
            </div>
          </span> 
        </div>
        <div class="col-md-6">
          <span class="form-text">Last Name:  
            <span nbPopover="Last name is required" class="error" *ngIf="form.get('lname').touched && form.controls['lname'].errors?.required">
              <i class="fas fa-exclamation-triangle error"></i> Required Field
            </span>
          </span>
          <input type="text" class="form-control" formControlName="lname" [ngClass]="{'fieldError': form.get('lname').touched && form.controls['lname'].errors?.required}">
        </div>
      </div>
      <div class="clear"></div>
      <div class="row">
        <div class="col-md-6">
          <span class="form-text">First Name:  
            <span nbPopover="First name is required" class="error" *ngIf="form.get('fname').touched && form.controls['fname'].errors?.required">
              <i class="fas fa-exclamation-triangle error"></i> Required Field
            </span>
          </span>
          <input type="text" class="form-control" formControlName="fname" [ngClass]="{'fieldError': form.get('fname').touched && form.controls['fname'].errors?.required}">
        </div> 
        <div class="col-md-6"> 
          <span class="form-text">Middle Name: </span>
          <input type="text" class="form-control" formControlName="mname">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="avatar-container">
        <div class="display-photo" *ngIf="avatar"
          [style.background-image]="'url('+this.sgs.connection+'/avatars/'+avatar+')'">
        </div>
        <input type="file" name="file" class="d-none" id="file" accept="image/x-png,image/gif,image/jpeg">
        <button class="btn btn-primary browse-btn"  (click)="openFile($event, 'file')">Change Profile Image</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-secondary" (click)="closeModal()">Close</button>
  <button type="submit" (click)="updateUser(form)" class="btn btn-sm btn-primary" [disabled]="form?.invalid">
    <i class="fas fa-pencil-alt"></i> Update
  </button>
</div>
</form>