@import '../../../../@theme/styles/themes';

@include nb-install-component() {
	#chat .entete_placeholder{
		width: 200px;
		height: 10px;
		background-color: #d6d6d6;
		margin-bottom: 5px;
		border-radius: 5px;
		-webkit-animation: ANIMATE-BG 2s infinite;  /* Safari 4+ */
		-moz-animation: ANIMATE-BG 2s infinite;  /* Fx 5+ */
		-o-animation: ANIMATE-BG 2s infinite;  /* Opera 12+ */
		animation: ANIMATE-BG 2s infinite;  /* IE 10+, Fx 29+ */
	}

	#chat .message_placeholder{
		width: 300px;
		height: 40px;
		background-color: #d6d6d6;
		border-radius: 5px;
		-webkit-animation: ANIMATE-BG 2s infinite;  /* Safari 4+ */
		-moz-animation: ANIMATE-BG 2s infinite;  /* Fx 5+ */
		-o-animation: ANIMATE-BG 2s infinite;  /* Opera 12+ */
		animation: ANIMATE-BG 2s infinite;  /* IE 10+, Fx 29+ */
	}

  [class$='placeholder'] {
    background: rgba(nb-theme(layout-bg), 0.6);
	}
	
	@keyframes ANIMATE-BG {
		0%   { opacity:1; }
		50%  { opacity:0; }
		100% { opacity:1; }
	}
	@-o-keyframes ANIMATE-BG{
		0%   { opacity:1; }
		50%  { opacity:0; }
		100% { opacity:1; }
	}
	@-moz-keyframes ANIMATE-BG{
		0%   { opacity:1; }
		50%  { opacity:0; }
		100% { opacity:1; }
	}
	@-webkit-keyframes ANIMATE-BG{
		0%   { opacity:1; }
		50%  { opacity:0; }
		100% { opacity:1; }
	}
}

*{
	box-sizing:border-box;
}
body{
	background-color:#abd9e9;
}
#container{
	width:750px;
	height:470px;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:260px;
	height:470px;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:490px;
	height:470px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:15px 20px;
}
aside input{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0px 40px 0px 10px;
	background-color: #5e616a;
	border: none;
	border-radius: 3px;
	color: #fff;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat: no-repeat;
	background-position: 170px;
	background-size: 40px;
}
aside input::placeholder{
	color:#fff;
}
.useRList{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:375px;
}
h2,h3{
	margin:0;
}
.message_date{
    font-size:10px;
    color: gray;
}
table tbody tr td img{
	border-radius:50%;
	margin-left:20px;
    margin-right:8px;
    width: 40px;
    height: 40px;
}
table tbody tr td div{
	display:inline-block;
	vertical-align:top;
	margin-top: 5px;
	width: 175px;
}
table tbody tr td div h2{
	font-size:10px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
table tbody tr td div h3{
	font-size:10px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

main header{
	height: 70px;
	padding: 10px 5px 10px 20px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
	height: 50px;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	width: 85%;
	margin-left:10px;
	// margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-top: 10px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

.settings{
	float: right;
}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:345px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}

#chat .message{
	padding:5px;
	color:#fff;
	line-height:15px;
	max-width:90%;
	min-width:40px;
	display:inline-block;
	text-align:left;
	border-radius:5px;
	font-size:12px;
	word-wrap: break-word;
}

#chat .you{
    text-align:right;
}
#chat .me .message{
	background-color:#58b666;
}
#chat .you .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .me .triangle{
		border-color: transparent transparent #58b666 transparent;
		margin-left:15px;
}
#chat .you .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:393px;
}

main footer{
	height:155px;
	padding:5px 10px 5px 10px;
}
main footer .textarea{
	resize:none;
	border:none;
	display:block;
	width:90%;
	height:40px;
	border-radius:3px;
	padding:10px;
	font-size:13px;
    margin-bottom:13px;
    float:left;
}
main footer .textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
}
.sendButton{
    width: 10%;
    font-size: 20px;
    text-align: center;
    background-color: #6fbced;
    margin-top: 0px;
    color: #fff;
    border: 11px solid #6fbced;
}



//message loader
$front-color: #4d7fc1;
$back-color: #d3d2d2;
$size: 60px;
$size-tail: 10px;
$shift: 10px;

$animation-duration: 3s;

body {
  background-color: #eee;
}
.loader-container {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20%;
  width: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.loader-messages {
  width: 100px;
  height: 100px;
  position: relative;
}
.loader-item1, .loader-item2 {
  transform: scale(1);
  background-color: $back-color;
  width: $size;
  height: $size;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -$size/2 -$size-tail;
//   tranform-origin: 50% 50%;
  &:before {
    content: '';
    width: $size-tail;
    height: $size*0.70;
    position: absolute;
    left: 50%;
    margin-left: -$size-tail/2;
    top: 100%;
    margin-top: -$size-tail;
    background-color: inherit;
    border-radius: 2px;
  }
}

.loader-item1 { 
  margin-left: -$size/2 -$shift;
  animation: bubble $animation-duration linear infinite;
  &:before {    
    transform: rotate(70deg);
    transform-origin: 100% $size-tail;
  }
}
.loader-item2 {
  margin-left: -$size/2 +$shift;
  animation: bubble2 $animation-duration linear infinite;
  &:before {    
    transform: rotate(-70deg);
    transform-origin: 0 $size-tail;
  }
}


@keyframes bubble {
  0%, 15% {
    opacity: 0;
  }
  20%, 35% {
    z-index: 2;
    opacity: 1;
    transform: scale(1.1);
    background-color: $front-color;
  }
  40%, 55% {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    background-color: $back-color;
  }
  60%, 75% {
    z-index: 2;
    opacity: 1;
    transform: scale(1.1);
    background-color: $front-color;
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes bubble2 {
  0%, 35% {
    opacity: 0;
  }
  40%, 55% {
    z-index: 2;
    opacity: 1;
    transform: scale(1);
    background-color: $front-color;
  }
  60%, 75% {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
    background-color: $back-color;
  }
  80%, 95% {
    z-index: 2;
    opacity: 1;
    transform: scale(1.1);
    background-color: $front-color;
  }
  100%, 100% {
    opacity: 0;
  }
}



//custom
.loadMoreContainer{
	width: 100%;
	text-align: center;
	color: blue;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-title{
	color: #fff;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.new-group{
	float: right;
}

.table th, .table td {
	padding: 3px;
	vertical-align: top;
	border: 0px;
}y


.table th, .table td.pointer:hover{
	background-color: #55565d;
} 

.badge-danger{
	padding-top: 4px;
	color: #fff;
	background-color: #dc3545;
	width: 19px;
	height: 15px;
}