<div class="modal-body">
  <div id="container">
    <aside>
      <header>
        <div class="header-title">
          Messages 
          <i class="fas fa-users new-group pointer" (click)="newGroup()" nbPopover="Create Group" nbPopoverMode="hint" nbPopoverPlacement="right"></i>
        </div>
        <input type="text" placeholder="Search by family name" [(ngModel)]="filterQuery">
      </header>
      <table class="table" [mfData]="users | dataFilter : filterQuery: selectQuery" #mf="mfDataTable" [mfRowsOnPage]="1000" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <tbody>
          <div class="useRList"> 
            <tr *ngFor="let person of mf.data">
              <td class="pointer" (click)="openThread(1, person)" *ngIf="person?.convoType == 1"> 
                <img class="avatar" src="{{this.sgs.connection}}/avatars/{{person.avatar}}" alt="">
                <div>
                  <h2> 
                    {{ person?.fname + " " + person?.lname}} 
                    <span class="badge badge-danger" style="float: right">
                      <ng-container *ngIf="person?.counter >= 1 && person?.counter <= 10">{{person?.counter}}</ng-container>
                      <ng-container *ngIf="person?.counter > 10">10+</ng-container>
                    </span>
                  </h2>
                  <h3>
                    <ng-container *ngIf="person?.isOnline == false">
                        <span class="status orange"></span>
                        offline
                    </ng-container>
                    <ng-container *ngIf="person?.isOnline == true">
                        <span class="status green"></span>
                        online
                    </ng-container>
                  </h3>
                </div>
              </td>
              <td class="pointer" (click)="openThread(2, person)" *ngIf="person?.convoType == 2">
                <img class="avatar" src="{{this.sgs.connection}}/avatars/groupAvatar.png" alt="">
                <div>
                  <h2> {{ person?.lname }} 
                    <span class="badge badge-danger" style="float: right">
                      <ng-container *ngIf="person?.counter >= 1 && person?.counter <= 10">{{person?.counter}}</ng-container>
                      <ng-container *ngIf="person?.counter > 10">10+</ng-container>
                    </span>
                  </h2>
                  <h3>
                    <span class="status green"></span>
                    online
                  </h3>
                </div>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
    </aside>
    <main>
      <header *ngIf="loading">
        <img src="{{this.sgs.connection}}/avatars/avatar.png" alt="">
        <div>
          <h2>HMED ENTERPRISE</h2>
        </div>
      </header>
      <header *ngIf="!loading">
        <img src="{{this.sgs.connection}}/avatars/{{convoInfo?.avatar}}" *ngIf="convoType == 1">
        <img src="{{this.sgs.connection}}/avatars/groupAvatar.png" *ngIf="convoType == 2">
        <div>
          <h2>
            <ng-container *ngIf="convoType == 1">{{ convoInfo?.fullName }}</ng-container> 
            <ng-container *ngIf="convoType == 2">
              {{ convoInfo?.lname }} 
              <a (click)="groupSettings(convoInfo)"><i class="fas fa-cog settings pointer" nbPopover="Group Settings" nbPopoverMode="hint" nbPopoverPlacement="right"></i></a>
            </ng-container>
          </h2>
        </div>
      </header>
      <ul id="chat"
        nbInfiniteList
        [threshold]="50"
        (topThreshold)="loadNext(firstCard)">
        <div class="loader-container" *ngIf="loading">
          <div class="loader-messages">
            <div class="loader-item1"></div>
            <div class="loader-item2"></div>
          </div>
        </div>
        <div *ngIf="!loading && messages">
          <div class="loadMoreContainer" *ngIf="messages.length >= 10">
            <a>End of messages</a>
          </div>
          <ng-container *ngFor="let _ of placeholders">
            <!-- PLACE HOLDER - Create a dummy spaces for the new loaded message to fill-in -->
            <li class="me">
              <div class="entete_placeholder">
              </div>
              <div class="message_placeholder"></div>
            </li>
          </ng-container>
          <ng-container *ngFor="let message of messages">
            <li *ngIf="message.message != 'F!R3W@!!404'" [ngClass]="{'you': message.senderID==user?.id, 'me': message.senderID!=user?.id}">
              <div class="entete">
                <ng-container *ngIf="message.senderID!=user?.id"> 
                  <span class="status green"></span>
                  <h2>{{ message.sender }}</h2> <br />
                </ng-container> 
                <p class="message_date">{{ message.date | amTimeAgo }}</p>
              </div>
              <div class="message">
                {{message.message}}
              </div>  
            </li>
          </ng-container>
        </div>
      </ul>
     <footer>
        <div class="input-group" *ngIf="openChatBox">
          <input class="form-control" placeholder="Type your message" type="text" [(ngModel)]="message" autofocus (keydown)="onKeydown($event)"> 
            <span class="input-group-append">
              <button class="btn btn-success input-group-text" (click)="send();"><i class="fas fa-paper-plane"></i></button>
            </span>
        </div>
      </footer>
    </main>
  </div>
</div>
