<div class="modal-header">
  <h2 class="card-title">Create Client</h2>
    <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
</div>
<form #mobile="ngForm" novalidate>
    <div class="modal-body">
      <div class="form-group">
          <label for="brand">Company Name<span class="text-muted red">*</span></label>
          <input   type="text" [(ngModel)]="name" name="name" class="form-control"
              placeholder="Enter Company Name..">
      </div>
      <div class="form-group">
        <label for="brand">Company Address<span class="text-muted red">*</span></label>
        <input   type="text" [(ngModel)]="address" name="address" class="form-control"
            placeholder="Enter Company Address..">
    </div>
      <br>
     
 
    </div>
    <div class="modal-footer">
        <input [disabled]="!address || !name"  type="submit" (click)="createClient(f)" class="btn btn-primary" value="Create">
        <button class="btn btn-sm btn-secondary" (click)="closeModal()">Close</button>
    </div>
  </form>
