@import '../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  nb-card-body {
    overflow: visible;
  line-height: 2em;
  }
  nb-card{
    margin-top: 4em;
  }
  @include media-breakpoint-down(sm) {
    nb-card{
      margin-top: 1em;
    }
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .validation-checkboxes {
    display: flex;
    justify-content: space-between;

    .custom-control {
      margin-left: 1rem;
    }
  }

  .demo-checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-disabled-checkbox-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-checkboxes-radio {
    display: flex;
    justify-content: space-between;
  }

  .demo-rating {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .star {
    font-size: 1.5rem;
    color: nb-theme(color-fg);
  }

  .filled {
    color: nb-theme(color-fg);
  }

  // TODO: Replace with the card header styles mixin
  .rating-header {
    line-height: 2rem;
    font-size: 1.25rem;
    font-family: nb-theme(font-secondary);
    font-weight: nb-theme(font-weight-bolder);
    color: nb-theme(color-fg-heading);
  }

  .current-rate {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: nb-theme(color-fg-heading);
  }

  .full-name-inputs {
    display: flex;
  }

  .input-group.has-person-icon {
    position: relative;

    .form-control {
      padding-left: 3rem;
    }

    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }

  .dropdown {
    min-width: 7rem;
  }

  .dropdown-menu {
    width: auto;
  }

  .form-group label {
    padding: 0 0 0.75rem;
  }

  ngb-rating {
    outline: none;
  }

  ngb-rating i {
    color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      color: nb-theme(color-primary);
    }
  }

  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }
}

.links .socials a {
  font-size: 2.1rem;
  margin: 0 0.5rem;
  text-decoration: none;
}

small.form-text {
  margin-top: 1.5rem !important;
  margin-bottom: 1.35rem;
}

h2.title {
  text-align: center;
  margin-top: 1.3rem;
  margin-bottom: 0;
  color: #333;
}

small.form-text.sub-title {
  margin-top: 0 !important;
  text-align: center;
}

span.custom-control-description {
  color: #a4abb3 !important;
}

a.fa.fa-facebook-official {
  color: #3b5998;
  margin-bottom: 5px;
}

a.fa.fa-google {
  color: #ff0000;
}

a.img-link {
  display: inline-block;
  margin-bottom: -3px !important;
}
a img.img-img-link {
  display: block;
  height: 30px;
  width: 30px;
}

.flex-centered {
  margin: auto;
}
nb-card-body {
  display: flex;
}


//loader

$loader-weight: 2px;
$small-loader-size: 16px;
$medium-loader-size: 24px;
$large-loader-size: 36px;

.loader-blue-content {
	// height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.loader {
	//margin: 20px;
	position: relative;
	svg {
		width: $small-loader-size;
		height: $small-loader-size;
		padding: $loader-weight / 2;
		display: block;
		animation: rotate 1.5s ease-in-out infinite;
		* {
			fill: transparent;
			stroke-dasharray: 1%, 320%;
			stroke-dashoffset: 0;
			animation: loader-dash 1.5s ease-in-out infinite;
			stroke-width: ($loader-weight / $small-loader-size * 10) * $loader-weight;
			stroke: currentcolor;
		}
	}
	&.medium {
		svg {
			width: $medium-loader-size;
			height: $medium-loader-size;
			* {
				stroke-width: ($loader-weight / $medium-loader-size * 10) * $loader-weight;
			}
		}
	}
	&.large {
		svg {
			width: $large-loader-size;
			height: $large-loader-size;
			* {
				stroke-width: ($loader-weight / $large-loader-size * 10) * $loader-weight;
			}
		}
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loader-dash {
	0% {
		stroke-dasharray: 1%, 320%;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 235%, 420%;
		stroke-dashoffset: -85%;
	}
	100% {
		stroke-dasharray: 235%, 420%;
		stroke-dashoffset: -310%;
	}
}



.btn-auth {
	width: 100% !important;
	padding: 15px 0px !important;
	transition: 0.5s;
}

.forgot-pass {
	margin-bottom: 0px !important;
}

.auth-link {
    position: absolute;
    margin: -25px auto;
    display: block;
    font-size: 16px;
    text-align: center;
    width: calc(100% - 32px);
    color: #ff4c4c;
}

.auth-block h1 {
    font-weight: 300;
    margin-bottom: 35px;
	text-align: center;
}

#loader {
	position: fixed !important;
    padding: 0px 10px 10px 10px !important;
	margin: -9px auto !important;
}


//custom error message
.error{
  text-align: center;
}