<nb-layout>
  <nb-layout-column  style="height: 100%; background-position: left center; background-repeat: no-repeat;  background-size: cover;">
<div class="row">
  <div class="col-xl-4 col-lg-4 offset-lg-4 col-md-8 col-sm-12">
    <nb-card style="background-color: rgb(255, 255, 255,0.9);">
      <nb-card-body>
        <div class="flex-centered col-sm-12">
 
            <h2 class="title">Log In</h2>

            <small class="form-text sub-title">Hello! Log in with your username</small>

            <form #f="ngForm" class="form-horizontal"> 
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="username" id="username" #userName="ngModel" name="username" placeholder="Username" required>
                  <div class="form-text error" autofocus>
                    <!-- {{ formErrors.email }} -->
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="password"  #passWord="ngModel" name="password" id="password" placeholder="Password" required>
                  <div class="form-text error">
                    <!-- {{ formErrors.password }} -->
                  </div>
                </div>
          
                <div class="form-group accept-group col-sm-12">
                  <!-- <a class="forgot-password" href="#">Forgot Password?</a> -->
                </div>
                
           
                <div class="form-text error">
                  {{ msg }}
                </div>

                <button style="width:100% !important; cursor:pointer" class="btn btn-md btn-primary" (click)="sgs.submitting = true; Submit()" [disabled]="sgs.submitting || f.invalid" [nbSpinner]="sgs.submitting" nbSpinnerStatus="success">
                  Login
                </button>
            </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

</nb-layout-column>

</nb-layout>


 

