@import '../../@theme/styles/themes';

/deep/ .nb-theme-corporate nb-actions.medium nb-action i.control-icon {
  font-size: 20px;
  color: #494949;
}

@include nb-install-component() {
  .clear {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .badge{
      color: #fff;
  }
  .badge-default{
    background-color: gray;
    color: #fff;
  }
}


.disabled{
  pointer-events: none;
  opacity: 0.7;
}




