<div class="row">
    <div class="col-sm-12">
      <nb-card [nbSpinner]="loading" nbSpinnerStatus="success">
        <nb-card-header>
          <div class="action-groups-header" style="float: left; clear: both">
            User Lists
          </div>
          <nb-actions size="medium" style="float: right; font-size: 10px;">
            <nb-action>
              <div class="input-group input-group-sm">
                <div class="dropdown input-group-prepend input-group-btn" ngbDropdown>
                  <button type="button" class="btn btn-success dropdown-toggle" ngbDropdownToggle style="min-width: 108px;">
                    {{ selectQueryString }}
                  </button>
                  <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item" (click)="selectFilter('lname', 'Last Name')">Last Name</li>
                      <li class="dropdown-item" (click)="selectFilter('fname', 'First Name')">First Name</li>
                      <li class="dropdown-item" (click)="selectFilter('username', 'Username')">Username</li>
                      <li class="dropdown-item" (click)="selectFilter('role', 'Role')">Role</li>
                  </ul>
                </div>
                <input type="search" class="form-control" placeholder="Search.." [(ngModel)]="filterQuery">
              </div>
            </nb-action>
            <nb-action icon="fa fa-plus-square" nbPopover="Add new user" nbPopoverMode="hint" nbPopoverPlacement="bottom" (click)="addUser()"></nb-action>
            <nb-action icon="fa fa-window-close" (click)="sgs.back()"nbPopover="Close" nbPopoverMode="hint" nbPopoverPlacement="right"></nb-action>
          </nb-actions>
        </nb-card-header>
        <nb-card-body>
          <div class="row">  
            <div class="col-sm-12">  
              <div class="clear"></div>   
              <table class="table" [mfData]="data | dataFilter : filterQuery: selectQuery" #mf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col" width="5%">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of mf.data">
                    <td scope="col">{{ data.id }}</td>
                    <td scope="col">{{ data.lname + ", " + data.fname}}</td>
                    <td scope="col">{{ data.username }}</td>
                    <td scope="col">{{ data.role}}</td>
                    <td scope="col" [ngClass]="{'disabled': me?.username == data.username}" >
                      <ng-container *ngIf="data.status == 1"><a class="badge badge-success pointer" (click)="disableAccount(data._id)">Active</a></ng-container>
                      <ng-container *ngIf="data.status == 2"><a class="badge badge-danger pointer" (click)="enableAccount(data._id)">Deactivated</a></ng-container>
                    </td>
                    <td class="align-middle text-center">
                      <a (click)="updateUser(data.id);"><i class="fa fa-eye pointer"></i></a>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="10">
                      <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50,100]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>  
  
  
  
  